.chat {
    &__wrap{
        padding: 10px;
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        width: 100%;

    }
    
}

.message {
    display: flex;
    align-items: flex-end;
    &--text{
        background-color: var(--default-message-color);
        padding: 10px;
        border-radius: 12px;
        display: flex;
        justify-content: flex-start;
        margin: 0px 0px 12px 8px;

    }
    &--small{
        width: var(--default-avatar-size__small) !important;
        height: var(--default-avatar-size__small) !important;

    }

}

.message{
&--list{
        padding: 20px;
        margin: 0;
        list-style: none;
        overflow-y: auto;
        display: grid;
        align-items: end;
        grid-gap: 10px 10px;
        width: 100%;
        box-sizing: border-box;

    }
    &--wrap{
        &__left{

        }
    }
    &__right{
        flex-direction: row-reverse;
        & .message--text{
            margin: 12px 8px 12px 0;
        }
    }
    &__left{
        flex-direction: row;

    }
}
