.peer{
    font-family: 'Rubik', sans-serif;
    display: flex;
    background-color: var(--default-chat-color);
    padding: 18px;
    border-radius: 18px;
    transition: 0.3s;
    &:hover, &:focus{
        background-color: var(--default-chat-color__hover) ;
    }
    &--avatar{
        width: var(--default-avatar-size);
        height: var(--default-avatar-size);
        border-radius: 5px;
        
    }
    &--list{
        padding: 32px;
        list-style: none;
        display: grid;
        align-items: flex-start;
        grid-gap: 10px 10px;
    }
    &--title{
        color: var(--foreground-color);
        margin: 0;
        padding: 0;
        
    }
    &--last{
        
        color: var(--second-text-color);
        margin: 0;
        padding: 0;
        font-size: 0.8em;
        margin-top: 10px;
        max-width: 200px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &--info{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left:18px;
        translate: 0.3s;
        
    }
    &__selected{
        background-color: var(--selected-chat-color);
    }
}
